*.pyc
build/

classifier_glyphs_533.xml
/gamera/toolkits/.DS_Store
/.DS_Store
.DS_Store

/bin/classifier_weights.xml
/bin/optimized_classifier.xml
/Liber_Usualis_AXZ/
/Liber_Usualis_NO_ST/
/Liber_Usualis_New_TIFF/